@charset "UTF-8";
/* CSS Document */

body{
  background-image: url("/img/up_house.jpg");
}


p {
	color:#aae4f0;
}

.spacing {
	padding-top:7px;
	padding-bottom:7px;
}
.middlePage {
	width: 680px;
    height: 500px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.logo {
	color:#aae4f0;
}